@import url(/assets/css/media.css);
@import url(/assets/css/reset.css);
@import url(/assets/css/grid-col.css);

.container {
  max-width: 90%;
  width: 100%;
  /* width: 1280px; */
  /* padding: 0 4rem; */
  margin: 0 auto;
  /* border: 1px solid black; */
}
header {
  padding: 16px 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.navigation {
  display: flex;
  column-gap: 36px;
  align-items: center;
}
.navigation > .menu-responsiv {
  display: none;
}
.nav-ul {
  display: flex;
  column-gap: 30px;
}
.nav-ul a {
  color: #1262af;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.notification i {
  font-size: 20px;
  color: red;
}

/* !  BANNER ////////////////////////////////////////////// */
.banner {
  background-image: url(/assets/pics/search-container@3x.65abc0bda5bf8437be46.png);
  size: cover;
  /* background: linear-gradient(79deg, #114F8B -3.12%, #2A9AD7 103.77%); */
  /* height: 100vh; */
  width: 100%;
  margin: 0 auto;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 6rem 0;
  color: white;
}

.banner-container {
  width: 75%;
  margin: 0 auto;
}

.banner-search {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  padding: 20px;
  flex-direction: column;
  /* align-items: flex-start; */
  row-gap: 12px;
  /* align-self: stretch; */

  padding: 20px 24px;
}

.banner-title {
  margin: 24px 0;
  /* margin-top: 3rem; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* row-gap: 20px; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 700;
  /* line-height: 46px; */
  font-size: 50px;
}

.search-details-form {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  align-items: flex-end;
  column-gap: 12px;
}
.fieldsets {
  width: 85%;
  display: flex;
  column-gap: 16px;
}
.fieldsets fieldset {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
}
.fieldsets legend {
  margin: 0 8px;
  padding: 0 4px;
  color: #666666;
  font-family: "Roboto", sans-serif;

  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  text-align: justify;
}

.fieldsets input {
  padding: 12px 16px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.fieldsets input[type="date"]::-webkit-datetime-edit-text {
  color: rgb(212, 0, 255);
  padding: 0 1em;
}

.search-details-form button {
  height: 52px;
  display: inline-block;
  padding: 0 4px;
  width: 20%;
  border-radius: 4px;
  background-color: #f99a0f;
  color: white;
  text-align: center;

  font-family: "Roboto", sans-serif;

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.46px;
}

/* ! ///////////////////////////  search results section {1} */
.filters-aside,
.result,
.advertisement {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#search-reasults {
  /* border: 1px solid red; */
  padding: 3rem 0;
  background-color: white;
}

.search-results-row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

/* ? filters-asode   col-3 */

.filters-aside > .number_of_results {
  color: #57575d;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.257px;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.stops > h5,
.booking > h5,
.fl-experience > h5,
.airlines > h5 {
  color: #57575d;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 12px;
}

.stops > .stop-radio > label,
.booking > .booking-radio > label,
.fl-experience > .experience-radio > label,
.airlines > .airlines-radio > label {
  margin-left: 8px;
  color: #57575d;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.line-hr {
  margin: 8px 0;
}
.line-for-responsive {
  display: none;
}

/* ? result    col-6 */

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result > p {
  color: #7e8b97;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.flight-res {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.flight-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 0.8px solid #cecece;
  background: #fff;
  display: flex;
  padding: 0 6px 0 20px;
}
.flight-card-row {
  padding: 16px 0;
  width: 80%;
  background: #fff;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* column-gap: 30px; */
}

.airport-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.airport-details > .airport {
  color: #57575d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.flight-details {
  display: flex;
  align-items: center;
}

.deparutre-details,
.flight-duration,
.arrival-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dep-time,
.arrival-time {
  color: #1262af;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.dep-country,
.arrival-country {
  color: #646468;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.arrival-country {
  text-align: end;
}
.destination-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.flight-duration > .duration {
  color: #8e8e94;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.flight-duration {
  row-gap: 15px;
}
.plane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price {
  width: 16%;
  color: #fba403;
  text-align: end;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border-left: 1px solid #cecece;
  display: inline-block;
  padding: 12px;
  text-align: center;
}

/* ? advertisement    col-3 */

.advertisement > span {
  color: #1262ae;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}
/* .advertisement > svg {
} */
.advertisement > p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.advertisement > img {
  width: 100%;
}

.result > button {
  border-radius: 6px;
  background: #1262af;
  width: 32%;
  display: inline-block;
  padding: 20px 12px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

/* ? ///////////////     SUBSCRIBE */

#subscribe {
  margin-top: 30px;
  background-image: url(/assets/pics/Subscribe\ section\ background.png);
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: black;
}

.container-subscribe {
  /* width: 600px; */
  width: 40%;

  padding: 4rem 0;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  line-height: 32px;
}

.form-title > p {
  color: #1262ae;
  font-size: 16px;
}

.form-title > h4 {
  color: #434343;
  font-size: 28px;
}

.subscribe {
  border-radius: 12px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
  margin: 2rem 0;
  background-color: white;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.subscribe label {
  color: #576074;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}
.subscribe input {
  padding: 16px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  font-size: 16px;
}

.subscribe > button {
  padding: 16px 0;
  border-radius: 4px;
  background: #f99a0e;
  width: 25%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* ?  ///////////foooterr */

footer {
  background: linear-gradient(92deg, #0b5ba8 30.91%, #299bd8 100.98%);
  color: white;
  padding: 3rem 0;
}

.footer-row {
  display: flex;
  align-items: center;
}
.footer-info {
  border-right: 2px solid rgb(16, 136, 225);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 5rem !important;
}

.footer-info > p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.social-media {
  display: flex;
  column-gap: 20px;
}
.social-media > a {
  color: white;
  font-size: 24px;
}

.footer-links {
  width: 100% !important;
  padding-left: 5rem;
  /* border-left: 2px solid rgb(16, 136, 225); */
}

.links-row {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 90px; */
}
.links > h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.links > ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.links > ul > li {
  width: 100%;
}
.links li > a {
  width: 100%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* ! mediaaa */

/* ? header */

@media only screen and (max-width: 992px) {
  .navigation {
    column-gap: 16px !important;
  }

  .logo svg {
    width: 150px !important;
  }
}

@media only screen and (max-width: 768px) {
  .navigation > .menu-responsiv {
    display: block !important;
  }
  .nav-ul {
    display: none !important;
  }

  .logo svg {
    width: 130px;
  }
}

@media only screen and (max-width: 385px) {
  .navigation {
    column-gap: 8px;
  }

  .logo svg {
    width: 100px;
  }
}

/* ? bannner */

@media only screen and (max-width: 1200px) {
  .banner-title {
    font-weight: 700;
    /* line-height: 46px; */
    font-size: 44px;
  }
  .fieldsets input {
    padding: 8px 12px;
    font-size: 14px;
  }

  .fieldsets input[type="date"]::-webkit-datetime-edit-text {
    padding: 0 0.8em;
  }

  .search-details-form > button {
    display: inline-block;
    height: 42px;

    font-size: 12px;
    padding: 0 4px;
    letter-spacing: 0.4px;
  }
}

@media only screen and (max-width: 992px) {
  .banner {
    padding: 5rem 0 !important;
  }
  .banner-title {
    font-weight: 700;
    /* line-height: 46px; */
    font-size: 40px;
    /* padding-bottom: 20px; */
  }

  .fieldsets input {
    padding: 6px 10px;
    font-size: 14px;
  }

  .fieldsets input[type="date"]::-webkit-datetime-edit-text {
    padding: 0 0.4em;
  }

  .search-details-form > button {
    height: 38px;
    font-size: 10px;
    width: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 3rem 0 !important;
  }
  .banner-search {
    row-gap: 16px;
    width: 80% !important;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 36px !important;
    text-align: center;
    /* padding-bottom: 20px; */
  }

  .search-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }
  .fieldsets {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .fieldsets input {
    padding: 8px 16px;
    font-size: 14px;
  }

  .fieldsets input[type="date"]::-webkit-datetime-edit-text {
    padding: 0 0.9em;
  }

  .search-details-form > button {
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    width: 35%;
    height: 46px;
  }
}

@media only screen and (max-width: 680px) and (min-width: 576px) {
  .search-details-form > button {
    font-size: 12px !important;
    width: 40% !important;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    padding: 2rem 0 !important;
  }
  .banner-title {
    font-size: 32px !important;
    line-height: 32px;
    /* padding-bottom: 20px; */
  }

  .banner-search {
    padding: 12px;
    row-gap: 8px;
  }

  .search-flights {
    flex-direction: column;
    row-gap: 8px;
  }

  .search-details-form > button {
    font-size: 12px;
    width: 50%;
  }
}

@media only screen and (max-width: 410px) and (min-width: 320px) {
  .search-details-form > button {
    font-size: 10px;
    width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .banner {
    padding: 1rem 0;
  }
  .banner-title {
    line-height: 28px;
    font-size: 24px !important;
  }

  .banner-search {
    padding: 10px;
    row-gap: 4px;
  }

  .fieldsets input[type="date"]::-webkit-datetime-edit-text {
    padding: 0 0.3em;
  }
  .fieldsets input {
    font-size: 12px;
    /*! <300 problema ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  }
  .fieldsets legend {
    font-size: 8px;
  }
  .search-details-form > button {
    display: inline-block;
    font-size: 8px;
    font-weight: 600;
    width: 86%;
    height: 40px;
  }
}

/* ? main */
/* * last section */
@media only screen and (max-width: 1200px) {
  .subscribe > button {
    width: 30% !important;
  }
}
@media only screen and (max-width: 992px) {
  .container-subscribe {
    padding: 3rem 0 !important;
  }
  .subscribe > button {
    width: 42% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container-subscribe {
    width: 50% !important;
    padding: 2rem 0 !important;
  }
  .subscribe {
    margin: 1rem 0 !important;
  }
  .form-title > p {
    margin-bottom: 8px;
    line-height: 22px !important;
    font-size: 14px !important;
  }
  .form-title > h4 {
    line-height: 32px !important;
    font-size: 24px !important;
  }
  .subscribe > button {
    width: 100% !important;
  }

  .subscribe input {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 576px) {
  .form-title > h4 {
    line-height: 22px !important;
    font-size: 16px !important;
  }
  .form-title > p {
    line-height: 18px !important;
    font-size: 12px !important;
  }

  .container-subscribe {
    padding: 1rem 0 !important;
    width: 80% !important;
  }
  .subscribe input {
    padding: 12px !important;
  }
  .subscribe button {
    padding: 12px !important;
  }
}
@media only screen and (max-width: 320px) {
  .container-subscribe {
    padding: 1rem 0 !important;
    width: 80% !important;
  }

  .subscribe input {
    font-size: 12px !important;
  }

  .subscribe input {
    font-size: 10px !important;
  }

  .subscribe input {
    padding: 8px 8px !important;
  }
  .subscribe label {
    font-size: 12px !important ;
  }
}

/* ? footer  */

@media only screen and (max-width: 992px) {
  .footer-row {
    flex-direction: row !important;
    flex-wrap: wrap;
    row-gap: 20px !important;
  }

  .footer-info {
    padding: 0 !important;
    width: 100%;
    row-gap: 20px !important;
    border: none !important;
  }
  .footer-info > p {
    font-size: 16px !important;
  }
  .footer-links {
    border: none;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .links > h4 {
    font-size: 18px !important;
  }
  .links > ul > li > a {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 576px) {
  .footer-info > p {
    font-size: 14px !important;
    line-height: 18px;
  }
  .links-row {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .links {
    width: 50% !important;
  }
  .links > h4 {
    font-size: 16px !important;
  }
  .links > ul > li > a {
    font-size: 12px !important;
  }
}

/* //////////////////////////// */
/* ! section */
@media only screen and (max-width: 1350px) and ((min-width: 1200px)) {
  .dep-time,
  .arrival-time {
    font-size: 16px !important;
    /* font-weight: 500; */
    /* letter-spacing: 0.4px; */
  }

  .dep-country,
  .arrival-country {
    font-size: 14px;
    /* font-weight: 400; */
    /* letter-spacing: 0.3px; */
  }

  .airport-details {
    width: 20%;
  }
  .flight-duration > .duration {
    font-size: 14px;
  }

  .result > button {
    padding: 16px 8px !important;
    width: 36% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 92% !important;
  }
  .stops > h5,
  .booking > h5,
  .fl-experience > h5,
  .airlines > h5 {
    font-size: 18px !important;
  }

  .stops > .stop-radio > label,
  .booking > .booking-radio > label,
  .fl-experience > .experience-radio > label,
  .airlines > .airlines-radio > label {
    font-size: 16px;
    margin-left: 4px !important;
  }

  /* .deparutre-details>span {
    font-size: 18px !important;
    font-weight: 500; */
  /* } */

  .flight-card-row {
    padding: 12px 0 !important;
  }
  .deparutre-details,
  .flight-duration,
  .arrival-details {
    row-gap: 8px !important;
  }

  .dep-time,
  .arrival-time {
    font-size: 16px !important;
    /* font-weight: 500; */
    /* letter-spacing: 0.4px; */
  }

  .dep-country,
  .arrival-country {
    text-align: center;
    font-size: 14px;
    /* font-weight: 400; */
    /* letter-spacing: 0.3px; */
  }

  .airport-details {
    width: 20%;
  }
  .flight-duration > .duration {
    font-size: 14px;
  }
  .flight-duration {
    width: 25% !important;
  }
  .duration > p {
    display: flex;
    flex-direction: column;
  }

  .price {
    font-size: 20px !important;
  }
  .result > button {
    padding: 16px 8px !important;
    width: 36% !important;
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 769px) {
  .container {
    max-width: 92% !important;
  }

  .stops > h5,
  .booking > h5,
  .fl-experience > h5,
  .airlines > h5 {
    font-size: 16px !important;
  }

  .stops > .stop-radio > label,
  .booking > .booking-radio > label,
  .fl-experience > .experience-radio > label,
  .airlines > .airlines-radio > label {
    font-size: 14px;
    margin-left: 0px !important;
  }
  .stops > .stop-radio,
  .booking > .booking-radio,
  .fl-experience > .experience-radio,
  .airlines > .airlines-radio {
    margin-bottom: 4px !important;
  }

  .advertisement {
    display: none;
  }
  .filters-aside {
    width: calc(30% - 20px) !important;
  }
  .result {
    width: 70% !important;
  }

  .result > button {
    padding: 16px 8px !important;
    width: 30% !important;
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 768px) {
  .advertisement {
    display: none;
  }
  .search-results-row {
    flex-wrap: wrap !important;
    row-gap: 20px !important;
  }
  .filters-aside {
    width: 100% !important;
    /* display: flex; */
    /* flex-direction: row; */
  }
  .number_of_results {
    color: #0b5ba8 !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    text-align: center;
  }

  .filters {
    flex-direction: row !important;
    /* column-gap: 20px !important; */
    /* gap: 28px; */
    justify-content: space-between !important;
    flex-wrap: wrap !important;
  }
  .stops,
  .bookung,
  .fl-experience,
  .airlines {
    width: 30% !important;
  }

  .filters-aside svg {
    /* display: none !important; */
  }
  .line-hr {
    /* width: 300px !important; */
    /* height: 1.3vh !important; */
    /* display: none; */
  }
  .filters > svg {
    display: none;
  }

  .result {
    width: 100% !important;
  }

  .stops > .stop-radio > label,
  .booking > .booking-radio > label,
  .fl-experience > .experience-radio > label,
  .airlines > .airlines-radio > label {
    font-size: 14px;
  }

  .line-for-responsive {
    display: inline-block;
    margin: 20px 0;
  }
  .result > button {
    width: 30% !important;
    padding: 16px 8px !important;
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 576px) {
  #search-reasults {
    margin-bottom: 3rem !important;
  }
  .container {
    max-width: 96% !important;
  }
  .search-results-row {
    row-gap: 20px !important;
  }

  .stops,
  .booking,
  .fl-experience,
  .airlines {
    width: 50% !important;
  }

  .filters {
    /* text-align: center; */
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    /* width: 75% !important ; */
    /* margin: 0 auto; */
    /* border: 1px solid red; */
  }
  .stops > h5,
  .booking > h5,
  .fl-experience > h5,
  .airlines > h5 {
    font-size: 14px !important;
  }
  .stops > .stop-radio > label,
  .booking > .booking-radio > label,
  .fl-experience > .experience-radio > label,
  .airlines > .airlines-radio > label {
    font-size: 12px;
  }

  .flight-row {
    flex-direction: column;
    padding: 0 6px;
    justify-content: start !important;
    row-gap: 8px;
  }
  .price {
    border-left: none;
    border-top: 1px solid;
    display: block;
    width: 80%;
    padding: 16px 0px;
  }

  .flight-card-row {
    flex-wrap: wrap;
    row-gap: 16px !important;
  }
  .airport-details {
    width: 100% !important;
    column-gap: 12px !important;
    justify-content: center;
  }
  .duration {
    margin-top: 10px;
  }

  .dep-time,
  .arrival-time {
    font-size: 20px !important;
  }
  .result {
    position: relative;
  }
  .result > button {
    position: absolute;
    bottom: -66px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 500px) {
.result>button{
    width: 50% !important;
}
    
}

@media only screen and (max-width: 360px) {
  .flight-card-row {
    align-items: flex-end;
    position: relative;
    row-gap: 100px !important;
  }

  .flight-duration {
    width: 60% !important;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 0 !important;
  }
  .result>button{
    width: 70% !important;
}

}
